<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="TestDatabase" 
         connectionString="Data Source=CalculatorTestDB.db;Version=3;" 
         providerName="System.Data.SQLite" />
  </connectionStrings>
  <appSettings>
    <add key="DatabasePath" value="CalculatorTestDB.db" />
    <add key="DatabaseName" value="CalculatorTestDB" />
  </appSettings>
</configuration>
